@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
}

header {
  background-color: #165c96;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.map-container {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.marker {
  background-image: url('/images/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.line-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.line {
  padding: 10px;
  margin: 10px;
  width: 100px;
  text-align: center;
  border: 1px solid black;
  font-weight: 800;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: #165c96;
}

.green {
  background-color: green;
}

.stops-container {
  border: 1px solid black;
}
